@using System.ComponentModel
@model calcOptimalZRM.Models.DomCehModel


@{
    /**/

    ViewBag.Title = "CalcZHRM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("Экспорт в Excel", "ExportExcel", "Home")
@*<h3>Вариант 1</h3>
    @using (Html.BeginForm("DbModel", "Home"))
    {
        <input type="submit" value="Перейти на страницу модели" id="bt_CalcZhrm" background=@Server.MapPath("~/Content/"+"spirin.jpg") />
    }*@
<h3>Вариант 2</h3>
@Html.ActionLink("Перейти к промежуточным данным", "DbModel", "Home");
@*
    <h3>Вариант 3</h3>
    @Html.ActionLink("Перейти на страницу модели", "DbModel", null, new { @class= ".btn-primary-new" })
    <h3>Вариант 4</h3>
    <a href='@Url.Action("DbModel", "Home")'>
        <img src="~/Content/spirin.jpg" height="200" width="200" />
        <alt>Рассчитать</alt>*@


<details>
    <summary><h3>Промежуточные данные</h3></summary>
    <table class="table">
        <tr>
            <th>
                Дата
            </th>
            <th>
                Параметр
            </th>
            <th>
                Значение
            </th>
        </tr>
        @foreach (var item in ViewBag.ParamsPech)
        {
            <tr>
                <th>
                    @item.Pechdate
                </th>
                <th>
                    @item.Descr
                </th>
                <th>
                    @item.Val
                </th>
            </tr>
        }
    </table>
</details>
@using (Html.BeginForm("ResultCalcZRM", "Home", FormMethod.Post))
{
    <h3>Расчет оптимального соотношения расходов агломерата ММК и окатышей ССГОК в доменную шихту</h3>
    <table>
        <tr>

            <td><b>Показатель, ед. измерения</b></td>
            <td><b>Величина</b></td>
        </tr>
        <tr>
            <td>Производительность доменной печи, т/сутки</td>
            <td>
                @Html.TextBox("proizv", Math.Round((double)(ViewBag.DomCehPar.proizvDomPechModel), 3))
            </td>
        </tr>
        <tr>
            <td>Суммарный удельный расход кокса, кг/т чугуна</td>
            <td>
                @Html.TextBox("summudrashkoks", Math.Round((double)(ViewBag.DomCehPar.summUdRashKoksModel), 3))
            </td>
        </tr>
        <tr>
            <td>Содержание серы в чугуне, %</td>
            <td>
                @Html.TextBox("seravchugun", Math.Round((double)(ViewBag.DomCehPar.sodSeraChugunModel), 3))
            </td>
        </tr>
        <tr>
            <td>
                Доля агломерата ММК
            </td>
            <td>
                @Html.TextBox("aglMMK", Math.Round((double)(ViewBag.DomCehPar.dolAglomeratMmkModel), 3))
            </td>
        </tr>
        <tr>
            <td>Содержание Al2O3 в шлаке, %</td>
            <td>
                @Html.TextBox("alshlak", Math.Round((double)(ViewBag.DomCehPar.Al2O3ShlakModel), 3))
            </td>
        </tr>
        <tr>
            <td>Содержание MgO в шлаке, %</td>
            <td>
                @Html.TextBox("mgoshlak", Math.Round((double)(ViewBag.DomCehPar.MgOShlakModel), 3))
            </td>
        </tr>
    </table>
    <h3>Ввод ограничений на поиск оптимальных параметров (в проектном периоде):</h3>
    <table>
        <tr>

            <td><b>Показатель, ед. измерения</b></td>
            <td><b>Величина в проектном периоде</b></td>
            <td><b>минимум</b></td>
            <td><b>максимум</b></td>
            <td><b>задано</b></td>
        </tr>
        <tr>
            <td>
                Вязкость конечного шлака при 1550 С, пуаз
            </td>
            <td>
                @Html.TextBox("vzskkonshlak", Math.Round((double)(ViewBag.Vvod.vzskkonshlak), 3), new { @class = "form-control" })
            </td>
            <td>
                @Html.TextBox("vzskkonshlakmin", Math.Round((double)(ViewBag.Vvod.vzskkonshlakmin), 3), new { @class = "form-control" })
            </td>
            <td>
                @Html.TextBox("vzskkonshlakmax", Math.Round((double)(ViewBag.Vvod.vzskkonshlakmax), 3), new { @class = "form-control" })
            </td>
            <td>
                @*@Html.TextBox("vzskkonshlakzad", (double?)Math.Round((double)(ViewBag.Vvod.vzskkonshlakzad), 3), new { @class = "form-control" })*@

            </td>
        </tr>
        <tr>
            <td>
                Основность конечного шлака (CaO/SiO2)
            </td>
            <td>
                @Html.TextBox("osnkonshlack", Math.Round((double)(ViewBag.Vvod.osnkonshlack), 3), new { @class = "form-control" })
            </td>
            <td>
                @Html.TextBox("onskonshlakmin", Math.Round((double)(ViewBag.Vvod.onskonshlakmin), 3), new { @class = "form-control" })
            </td>
            <td>
                @Html.TextBox("osnkonshlakmax", Math.Round((double)(ViewBag.Vvod.osnkonshlakmax), 3), new { @class = "form-control" })
            </td>
            <td>
                @Html.TextBox("onskonshlakkzad", Math.Round((double)(ViewBag.Vvod.onskonshlakkzad), 3), new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                Вязкость конечного шлака при 1450 С, пуаз
            </td>
            <td>

                @Html.TextBox("vzskkonshlak1450", Math.Round((double)(ViewBag.Vvod.vzskkonshlak1450), 3), new { @class = "form-control" })
            </td>
            <td>

                @Html.TextBox("vzskkonshlakmin1450", Math.Round((double)(ViewBag.Vvod.vzskkonshlakmin1450), 3), new { @class = "form-control" })
            </td>
            <td>

                @Html.TextBox("vzskkonshlakmax1450", Math.Round((double)(ViewBag.Vvod.vzskkonshlakmax1450), 3), new { @class = "form-control" })
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                Градиент вязкости конечного шлака, пуаз/град. С
            </td>
            <td>

                @Html.TextBox("grdvzkkkonshlak", Math.Round((double)(ViewBag.Vvod.grdvzkkkonshlak), 3), new { @class = "form-control" })
            </td>
            <td>

                @Html.TextBox("grdvzkkkonshlakmin", Math.Round((double)(ViewBag.Vvod.grdvzkkkonshlakmin), 3), new { @class = "form-control" })
            </td>
            <td>

                @Html.TextBox("grdvzkkkonshlakmax", Math.Round((double)(ViewBag.Vvod.grdvzkkkonshlakmax), 3), new { @class = "form-control" })
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                Доля агломерата ММК
            </td>
            <td>

                @Html.TextBox("aglmmknow", Math.Round((double)(ViewBag.Vvod.aglmmknow), 3), new { @class = "form-control" })
            </td>
            <td>

                @Html.TextBox("aglmmkmin", Math.Round((double)(ViewBag.Vvod.aglmmkmin), 3), new { @class = "form-control" })
            </td>
            <td>

                @Html.TextBox("aglmmkmax", Math.Round((double)(ViewBag.Vvod.aglmmkmax), 3), new { @class = "form-control" })
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                Сумма долей всех ЖРМ
            </td>
            <td>
                @Html.TextBox("summdoleyzrmnow", Math.Round((double)(ViewBag.Vvod.summdoleyzrmnow), 3), new { @class = "form-control" })
            </td>
            <td>
                @Html.TextBox("summdoleyzrmmin", null, new { @class = "form-control" })
            </td>
            <td>
                @Html.TextBox("summdoleyzrmmax", null, new { @class = "form-control" })
            </td>
            <td></td>
        </tr>
    </table>
    <div class="row">
        <div class="col-md-4">
            <h3>Учитывать ограничения</h3>
            <h4>Вязкость конечного шлака при температуре шлака @Html.CheckBox("first_concl", false)@*@Html.RadioButton("ogr", "1")*@</h4>
            <h4>Основность конечного шлака, CaO\SiO2 (диапазон или задано) @Html.CheckBox("second_concl", false)@*@Html.RadioButton("ogr", "2")*@</h4>
            <h4>Вязкость конечного шлака при температуре 1450С @Html.CheckBox("third_concl", false)@*@Html.RadioButton("ogr", "3")*@</h4>
            <h4>Градиент вязкости конечного шлака @Html.CheckBox("fourth_concl", false)@*@Html.RadioButton("ogr", "4")*@</h4>
            <h4>Доля агломерата ММК @Html.CheckBox("fifth_concl", false)@*@Html.RadioButton("ogr", "5")*@</h4>
        </div>
        <div class="col-md-4">
            <h3>Цель</h3>
            <h4>Заданная основность конечного шлака @Html.RadioButton("target", "1")</h4>
            <h4>Минимум серы в чугуне @Html.RadioButton("target", "2")</h4>
            <h4>Минимум расхода кокса @Html.RadioButton("target", "4")</h4>
            <h4>Минимум градиента вязкости конечного шлака @Html.RadioButton("target", "3")</h4>
            <h4>Максимум производительности @Html.RadioButton("target", "5")</h4>
        </div>
        <div class="col-md-4">
            <h3>Управляющее воздействие</h3>
            <h4>Агломерат ММК и окатыши ССГОК @Html.RadioButton("vozdeistv", "1")</h4>
            <h4>Агломерат ММК и окатыши Лебединские @Html.RadioButton("vozdeistv", "2")</h4>
            <h4>Агломерат ММК и окатыши Качанарские @Html.RadioButton("vozdeistv", "3")</h4>
            <h4>Агломерат ММК и окатыши Михайловские @Html.RadioButton("vozdeistv", "4")</h4>
        </div>
    </div>

    <p>

        <input type="submit" value="Посчитать соотношения ЖРМ" id="bt_CalcZhrm" />
        @Html.ActionLink("Посчитать соотношения ЖРМ", "ResultCalcZRM", "Home");

    </p>
}

<hr />
@*<table>
        <tr>
            <td>Результат расчета, доля в проектном периоде:</td>
            <td></td>
        </tr>
        <tr>
            <td>Окатыши ССГОК</td>
            <td>@Html.TextBox("vzskkonshlakmax", "0,079")</td>
        </tr>
        <tr>
            <td>Окатыши Лебединские</td>
            <td>@Html.TextBox("vzskkonshlakmax", "0,000")</td>
        </tr>
        <tr>
            <td>Окатыши Качанарские</td>
            <td>@Html.TextBox("vzskkonshlakmax", "0,000")</td>
        </tr>
        <tr>
            <td>Окатыши Михайловские</td>
            <td>@Html.TextBox("vzskkonshlakmax", "0,038")</td>
        </tr>
    </table>*@


